<!-- # default name -->
{% extends "blog/base.html" %}
<!-- that has to be overriden -->
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			<!-- for security to protect the form but is important without this from wont work -->
			{% csrf_token %}
			<fieldset class="form-group">
				<!-- used to group together elements in form -->
				<legend class="border-bottom mb-4">Blog Post</legend>
				<!-- displaying from -->
				<!-- form.as_p renders our form in paragraphs -->
				{{ form|crispy}} 
			</fieldset>
			<!-- add form button it is not in the form variable -->
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Post</button>
				
			</div>
		</form>
	</div>
{% endblock content%}


